  <h1 class="text-center text-danger" translate>CT</h1>
  <hr/>
  <div class="row">
      <div class="col-md-9 col-md-offset-1">
          <input type="text" placeholder="Type to filter here" class="input-lg form-control" ng-model="txtFilter" />
          <br />
          <br />

          <table class="table table-striped table-bordered">
              <thead>
                  <tr>
                      <th translate>CI</th>
                      <th translate>FN</th>
                      <th translate>A</th>
                      <th></th>
                  </tr>
              </thead>
              <tr ng-repeat="a in data.customers|filter:txtFilter">
                  <td>{{a.CustomerId}}</td>
                  <td>{{a.FirstName}}</td>
                  <td>{{a.Age}}</td>
                  <td>
                      <a href="" ng-click="delete(a.CustomerId)" translate>Delete</a>
                      <a href="/#!/DetailsCustomers/{{a.CustomerId}}"translate>Details</a>
                      <a href="/#!/EditCustomers/{{a.CustomerId}}" translate>Edit</a>
                  </td>
              </tr>
          </table>

      </div>
  </div>
