<!DOCTYPE html>
<html ng-app="MyApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Test Fagron</title>
    <link href="Content/bootstrap.css" rel="stylesheet" />

</head>
<body>
    <div class="container">
        <nav role="navigation" class="navbar navbar-inverse" ng-controller="TranslationController">
            <ul class="nav navbar-nav">
                <li><a href="/#!/ListCustomers" translate>LC</a></li>
                <li><a href="/#!/AddCustomers" translate>AC</a></li>
            </ul>
            <span><a class="navbar-brand navbar-right" ng-click="changeLanguage('pt')">pt-br</a></span>
            <span><a class="navbar-brand navbar-right" ng-click="changeLanguage('en')">en-us</a></span>
        </nav>
        <div ng-view>

        </div>

        <h3 style="margin-top:40px" class="text-center text-info" translate>TF</h3>
    </div>

    <script src="Scripts/jquery-1.9.0.js"></script>
    <script src="Scripts/bootstrap.js"></script>
    <script src="Scripts/angular.js"></script>
    <script src="Scripts/angular-route.js"></script>
    <script src="Scripts/angular-translate.min.js"></script>
    <script src="Scripts/angular-translate-loader-static-files.min.js"></script>
    <script src="Router.js"></script>
    <script src="Controllers/ListCustomersController.js"></script>
    <script src="Controllers/AddCustomersController.js"></script>
    <script src="Controllers/EditCustomersController.js"></script>
    <script src="Controllers/DetailsCustomersController.js"></script>
    <script src="Controllers/TranslationController.js"></script>
    <script src="Services/CustomerService.js"></script>
</body>
</html>